{% extends "main/base.html" %}

{% load static %}
{% load i18n %}

{% block title %}{% trans "Галерея" %}{% endblock %}
{% block descr %}{% trans "Ojar Aziya - одна из крупнейших компаний в сфере строительства и инфраструктуры в Туркменистане. " %}{% endblock %}

{% block extracss %}
<link rel="stylesheet" type="text/css" href="{% static 'gallery/css/gallery.css' %}"> 
{% endblock extracss %}

{% block main %}

<section class="gallery">
	<div class="container">
		<div class="gallery__title">{% trans "Галерея" %}</div>
		<div class="gallery__wrapper">
			{% for gallery in gallery %}
			<a  data-fancybox="gallery" 
				data-src="{{ gallery.image.url}}"
				class="gallery__item">
				<img src="{{ gallery.image.url}}" alt="{{ gallery.title }}" />
			</a>
			{% endfor %}
			
		</div>
	</div>
</section>

{% endblock main %}

{% block extrajs %}
<script src="{% static 'gallery/js/gallery.js' %}"></script>
{% endblock extrajs %}